*.pyc
.venv/*
__pycache__/

# Coverage files
.coverage
.coverage.*
htmlcov/
coverage.xml
pytest-junit.xml

# Tauri build artifacts
dist/
target/
tauri-app/src-tauri/Cargo.lock
src/runtimes/tauri/build/
src/runtimes/tauri/src-tauri/backend/


# Node modules (if using npm for frontend)
tauri-app/node_modules/

# IDE specific files
.idea/
.vscode/

# SonarQube
.scannerwork/
.env